#container {
    background-color: cornflowerblue;
    padding: 20px;
}

#question, #answer0 , #answer1, #answer2, #answer3 {
    margin: 10px;
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;
    border-radius: 10px;
}

#answer0 , #answer1, #answer2, #answer3
{
    background-color: coral;
    font-size: 1.5em;
    font-weight: bold;
}